bin
deps
lib
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
config.h.in~
.deps
.libs
*\.pb\.cc
*\.pb\.h
*\.o
/src/java/target
