*.o
Makefile
Makefile.in
aclocal.m4
bin/
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
deps/
docs/
install-sh
lib/
libtool
ltmain.sh
missing
stamp-h1
